{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block content %}
<h1>Message Board</h1>

<div class="container">
    <h2>Instructions</h2>
    <ol class="list-group">
        <li class="list-group-item>
            <h3 class=" list-group-item-heading">List post</h3>
            <p class="list-group-item-text">
                To list posted messages go to "posts" and then select "list posts".
            </p>
        </li>
        <li class="list-group-item>
            <h3 class=" list-group-item-heading">Post detail</h3>
            <p class="list-group-item-text">
                view a specific message, go to "list posts" from the "posts" menu and click on the "detail" button of
                the desired message.
            </p>
        </li>
        <li class="list-group-item>
            <h3 class=" list-group-item-heading">Create a new post</h3>
            <p class="list-group-item-text">
                To post a new message go to "posts" and then select "new post".
            </p>

        </li>
    </ol>
</div>

{% endblock content %}